.LogoandName {
    display: grid;
    grid-template-columns: 65px auto auto;
    background-color: black;
    }

    .LogoandName span{
        font-family: roboto;
        font-size: 30px;
        padding: 25px;
        color: white;
    }

    .hamburger{
        display: none;
    }

    nav{
    display: flex;
    
    padding: 10px;
    align-items: center;
    justify-content:space-around;
    }

    nav a{
        color: white;
        text-decoration: none;
    }

    nav a:hover{
        text-decoration: underline;
        text-decoration-color: yellow;
    }

    footer {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: whitesmoke;
    color: black;
    }

    .info{
        margin: 15px;
    }

     .dates{
        margin: 15px;
        text-align:justify;
     }

     .logos{
        margin: 15px;
        margin-top: 30px;
     }

     .NandB{
        display: grid;
        grid-template-columns: 75% 25%;
        background-color: black;
        color: goldenrod;
        padding: 15px;
        margin: 0%;
     }

     .buttons{
        display: flex;
        justify-content: flex-end; 
        gap: 10px; 
     }

     #gbutton, #lbutton{
        width: 80px;
        height: 35px;
        padding: 10px;
        border-radius: 15px;
        margin-top: 15px;
     }

.membersContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    width: 100%;
    padding-top: 25px;
}

.memberCard {
    background:whitesmoke;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
}

.memberCard img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.hero {
    position: relative; 
    width: 100%;
    height: 400px; 
}

.hero img {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}

.last{
        display: grid;
        grid-template-columns: 30% auto 40%;
        padding: 15px;
        margin: 0%;
}

#forecast{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 10px;
    width: 100%;
    padding-top: 10px;
}

.forecast-day {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.forecast-day h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.forecast-day img {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto 10px;
}

.forecast-day p {
    margin: 5px 0;
    font-size: 1em;
}

.todaytemp {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
}

h3{
    text-align: center;
}

.spotlightContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    width: 100%;
    padding-top: 10px;
    margin-left: 8px;

}

.einfo img {
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto 10px;
    border-radius: 5px;
}

.fandM{
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 15px;
    margin: 0%;
}

#mi-np, #mi-br, #mi-sl, #mi-au{
    background-color: goldenrod;
    color: black;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    border-radius: 7px;
    margin: 10px;
}

.form{
    background-color: lightgray;
    padding: 20px;
    font-size: 20px;
    border-radius: 5px;
    margin-bottom: 0%; 
}

.form button{
    background-color: goldenrod;
    color: black;
    padding: 15px;
    border-radius: 7px;
    font-size: 15px;
    
}


.itemCard{
    background-color:#ddd;
    border-radius: 7px;
    margin: 10px;
    display: grid;
    grid-template-areas: 
    "image name"
    "image desc"
    "image address"
    "button button";
    gap: 10px;
}

.itemCard img{
    grid-area: image;
    width: 100%;
    height: auto;
    border-radius: 7px;
}

.itemCard h2{
    grid-area: name;
    margin: 0;
}

.itemCard p{
    grid-area: desc;
    margin: 0;
}

.itemCard address{
     grid-area: address;
     margin: 0;
}

.itemCard .lbutton {
    grid-area: button;
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 25px;
    background-color: #555;
    color: #fff;
    cursor: pointer;
    margin: 0 10px 10px 40px;
}

@media screen and (min-width: 1025px) {

    .itemCard {
    background-color:#ddd;
    border-radius: 7px;
    margin: 10px;
    display: grid;
    grid-template-areas: 
    "image name"
    "image desc"
    "image address"
    "button button";
    gap: 10px;
    }

.itemCard img{
    grid-area: image;
    width: 100%;
    height: auto;
    border-radius: 7px;
}

.itemCard h2{
    grid-area: name;
    margin: 0;
}

.itemCard p{
    grid-area: desc;
    margin: 0;
}

.itemCard address{
     grid-area: address;
     margin: 0;
}

.itemCard .lbutton {
    grid-area: button;
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 25px;
    background-color: #555;
    color: #fff;
    cursor: pointer;
    margin: 0 10px 10px 40px;
}

    .places{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}